body {
  background-color: #a8dda8;
}

#block{
  background-color: 	#2f6187;
  color: white;
  border-radius: 7px;
  margin-bottom:4px;
  padding: 5px 7px 5px 7px;
}

#delete{
  color: rgb(255, 72, 0);
  float: right;
}
#subject{
  margin-right: 3px;
  width: 240px;
}
#add{
  padding: 0px 3px 0px 3px;
  background-color:	#32b871;
  color: beige;
}
#gpafield{
  background-color:#29abb9;
  text-align: center;
  color: white;
}
#mycourse{
  text-align: center;
}